@model TrabalhoPos.Models.Usuario

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <p>
        @Html.ActionLink("Novo", "Create")
    </p>
    <form action="/Usuario/Login" method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="text" name="Email" class="form-control" />
        </div>
        <div class="form-group">
            <label>Senha</label>
            <input type="password" name="Senha" class="form-control" />
        </div>
        <button class="btn btn-primary">Login</button>
    </form>
</body>
</html>
